/*Slider*/
 .carousel-item:nth-child(1) {
    width: 100%;
    height: 500px;    
    background-color: rgb(112, 112, 112);
background-size: cover;
background-position: center;

    }
    .carousel-item:nth-child(2) {
        width: 100%;
        height: 500px;    
        background-color: rgb(112, 112, 112);
    background-size: cover;
    background-position: center;
        }
        .carousel-item:nth-child(3) {
            width: 100%;
            height: 500px;  
            background-image: url(/assets/photos/slider3.jpg) no-repeat;
        background-size: cover;
        background-position: center;
            }

            .carousel-item h5 {
    font-size: 40px;
    font-weight: 500;
            }
   .carousel-item p {
font-weight: bold;
   }

/*cards*/
.cards-container {
        width: 100%;
   background-color: #6F2CF3;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 180px;


}

.card1, .card2, .card3 {
width: 32%;
height: auto;


}

.card {
    box-shadow: 4px 7px 10px 0px rgb(71, 71, 71);
    transition: .3s ease-out;
    
}
.card:hover {
    transform:  scale(1.1);
    }

    .imgcard1{
        width: auto;
        height: 200px;
        background-image: url(/assets/photos/card1.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 4px;
    }
    .imgcard2{
        width: auto;
        height: 200px;
        background-image: url(/assets/photos/card2.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 4px;
    }
    .imgcard3{
        width: auto;
        height: 200px;
        background-image: url(/assets/photos/card3.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 4px;
    }
